version: 2
updates:
  - package-ecosystem: 'bun'
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      bun:
        patterns:
          - '*'

  - package-ecosystem: 'github-actions'
    directory: '.github/workflows'
    schedule:
      interval: 'weekly'
    groups:
      github-actions:
        patterns:
          - '*'
