name: Sync

on:
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  sync:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run sync
        run: bun start
        env:
          OURA_PAT: ${{ secrets.OURA_PAT }}
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
